@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
/* ================================= NAVBAR ====================== */
.nav-trans {
    height: 145px;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 10;
}
.logo {
    margin: 2% 5%;
}
nav ul {
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
nav ul li a {
    color: white;
    font-size: 30px;
    font-weight: 400;
}
/* ================================= HERO ====================== */
.hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 700px;
    background-image: url(../assets/img/Coffe\ Header.png);
    background-size: cover;
    color: white;
    border-radius: 0 0 30px 30px;
    margin-bottom: 100px;
}
.hero h1 {

    font-size: 70px;
    font-weight: 700;
}
.hero h4 {
    font-size: 32px;
    font-weight: 400;
    line-height: 43.2px;
}
/* ================================= WHO ARE YOU ====================== */
.flex {
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: white;
}
.who-txt {
    width: 50%;
    display: flex;
    justify-content: initial;
    flex-direction: column;
}
.txt h3 {
    color: #0F8B8D;
    font-weight: 800;
    font-size: 48px;
    text-decoration: underline;
    text-decoration-color: #EC9A29;
    text-underline-offset: 20px;
    margin-bottom: 40px;
}
.txt p {
    color: black;
    font-size: 24px;
    line-height: 28.8px;
}
.who-img {
    width: 50%;
}
.who-img img {
    width: 690px;
    height: 460px;
    clip-path: inset(0 177px round 20px);
}
/* ================================= PRODUCT SHOWCASE ====================== */
.prod-txt {
    width: 50%;
    margin-top: 80px;
    margin-left: 12%;
}
.prod-img {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-right: 9.5%;
}
.prod-img img{
    height: auto;
    width: 335px;
    clip-path: inset(100px 0 68px 0 round 20px);
}
button {
    background-color: #A8201A;
    border-radius: 55px;
    padding: 20px 50px;
    margin-top: 65px;
}
button a {
    color: white;
}
/* ================================= HANG OUT WITH US====================== */
.hang-out {
    margin-bottom: 100px;
}
.hang-txt {
    width: 50%;
    margin-left: 8%;
}
.hang-img {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-left: 2%;
}
.hang-img img {
    width: auto;
    height: 453px;
    clip-path: inset(0 177px round 20px);
}
/* ================================= FIND OUT AT INSTAGRAM ================ */
.find-us-instagram {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.find-us-instagram h3 {
    color: #0F8B8D;
    font-weight: 800;
    font-size: 48px;
    display: flex;
    justify-content: center;
}
.find-us-instagram h3 span {
    color: #EC9A29;
    font-weight: 800;
    font-size: 48px;
    text-decoration: underline;
    text-decoration-color: #EC9A29;
    text-underline-offset: 10px;
}
.find-img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.find-img img {
    width: 15%;
    margin: 50px 80px;
}
/* ================================= ASK US MORE ====================== */
.ask {
    text-align: center;
    line-height: 50px;
    margin-bottom: 100px;
}
.ask h3 {
    color: #0F8B8D;
    font-weight: 800;
    font-size: 48px;
}
.ask p {
    font-size: 24px;
}
.ask button {
    margin: auto 0;
}
/* ================================= FOOTER ====================== */
.footer-wrapper {
    height: 460px;
    background-color: #143642;
    display: flex;
    font-size: 24px;
    border-radius: 20px 20px 0 0;
}
.footer-wrapper ul {
    width: 20%;
    margin: 2% 0;
}
.footer-wrapper ul li {
    line-height: 50px;

}
.footer-wrapper ul li a{
    color: white;
}
.footer-wrapper span {
    color: #EC9A29;
}
.contact {
    margin-top: 2%;
    margin-left: 5%;
    filter: invert();
}
/* ================================= MENU PAGE ====================== */
.nav-color {
    background-color: #0F8B8D;
    height: 145px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 10;
}
/* ================================= FIND US PAGE ====================== */
/* ================================= MESSAGE PAGE ====================== */
/* ================================= DETAIL PAGE ====================== */
